<h1>You felt in love with: <%= thingVar %></h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Good Choice! Rusty is the best!</p>
<% } else { %>

    <p>Bad Choice! You should have said rusty!</p>
<% } %>
<p>P.S. This is the love.ejs file</p>

